@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Oculta scrollbars no projeto inteiro para melhor UX e limpeza visual */
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
